body {
    padding: 50px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 50px;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.content {
    margin-left: 270px; /* Same as the width of the sidebar */
    padding: 20px;
}
.hero-unit h1 {
    font-size: 48px; /* Größere Schrift */
}
.hero-unit p {
    text-align: center; /* Zentrierter Text */
    font-size: 24px; /* Optional: Größere Schrift für den Paragraph */
}
.hero-unit {
    text-align: center; /* Zentriert den Inhalt der .hero-unit */
}


